<div class="ui  grid">
  <div class="eight wide column">
    <div class="ui container">
<h1>New Category
  <i class="add square icon"></i>
</h1>
<div class="ui container">
<%= render 'form', category: @category %>
<br>
<%= link_to 'Back', categories_path, class: 'ui blue button',style: "float :right" %>
</div>
  </div>
</div>
</div>
