<div class="ui container">
  <h1>Adding New Product
    <i class="add square icon"></i>
  </h1>

  <%= render 'form', product: @product %>

  <%= link_to 'Back', products_path, class: 'ui blue button' %>
</div>